:root{
    /* --w-text: #FDFDFD; */
    --w-text: #b5bfc1;
    --accent: #586e75;
    --gray: #232323;

}

h1{
    color: var(--accent);
}

h2{
    font-size: 3em;
}

a {
    color: var(--w-text);
    text-decoration: none;
}

.hover{
    display: inline-block;
}

    .hover:hover {
        color: var(--accent );
        transform: scale(1.05);
    }

p{
    margin: 0px;
    opacity: 1;
}

.page {
    background-color: #002B36;
    margin: 0px;
    font-family: JB-bold;
    color: var(--w-text);
}

.name{
    font-size: 3.5em;
    display: inline;
    opacity: 1;
}

.icon-container{
    float: right; 
    font-size: 1.8em;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-right: 80px;
}

.icon{
    margin: 0px 10px;
}

    .icon:hover{
        transform: scale(1.1);
    }

.navbar{
    margin: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--gray);
}

@media only screen and (max-width: 600px){
    .navbar{
        background-color: red;
    }
}

.container{
    margin: 40px;
}

.bio{
    font-size: 2em;
    box-sizing:border-box;
    width: 100%;
    padding: 40px;
    opacity: 1;

    display: flex;
  flex-wrap: wrap;
}

.img-shadow{
    filter: drop-shadow(30px 20px 4px rgba(0, 0, 0, 0.3));
        /* box-shadow: 0 20px 35px 0 #586e75; */
}

.shadow{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.text{
    flex: 1;
    min-width: 40%;
    margin: 20px 0px;
}

.img{
    flex: 1;
    margin: 20px 0px;
    min-width: 800px;
}

@font-face {
    font-family: JB-bold;
    src: url(JetbrainsMonoBold-51Xez.ttf);
}

@font-face {
    font-family: lora-italic;
    src: url(Lora-Italic.ttf);
}

@font-face {
    font-family: lora-regular;
    src: url(Lora-Regular.ttf);
}

@font-face {
    font-family: JB-medium;
    src: url(JetbrainsMonoMedium-nRvBM.ttf);
}