:root{
    --w-text: #b5bfc1;
    --accent: #586e75;
    --gray: #232323;
}

h1{
    color: var(--accent);
    opacity: 0;
}

h2{
    font-size: 3em;
    margin-left: 40px; 
    margin-bottom: 0px; 
    opacity: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

a {
    color: var(--w-text);
    text-decoration: none;
}

.hover{
    display: inline-block;
}
    .hover:hover {
        color: var(--accent );
        transform: scale(1.05);
    }

p{
    margin: 0px;
}

.page {
    background-color: #002B36;
    margin: 0px;
    font-family: JB-bold;
    color: var(--w-text);
}

.name{
    font-size: 3.5em;
    display: inline;
    /* opacity: 0; */
}

.icon-container{
    float: right; 
    font-size: 1.8em;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-right: 80px;
}

.icon{
    margin: 0px 10px;
}
    .icon:hover{
        transform: scale(1.1);
    }

.navbar{
    box-sizing:border-box;
    width: 100%;
    height: 60px;
    background-color: var(--gray);
}

.mobile-container{
    text-align: center;
    line-height: 55px;
    font-size: 1.5em;
    height: 110px;
}

@media only screen and (max-width: 600px){
   
    h2{
        font-size: 1.5em;
        margin-left: 30px !important;
    }

    .navbar{
        height: 130px;
        padding: 10px;
    }
    .icon {
        font-size: 1.5em;
    }

    .icon-container{ display: none; }

    .name{ font-size: 2em; }

    .container{ margin: 10px !important; }

    .bio{ 
        padding: 10px !important;
        font-size: 1.2em !important;
    }
    
}

@media only screen and (min-width: 601px){
    .mobile-container{
        display: none;
    }
}

.bio{
    font-size: 2em;
    box-sizing:border-box;
    width: 100%;
    padding: 20px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
}

.shadow{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.text{
    flex: 1;
    min-width: 40%;
    margin: 20px;
}

.source{
    /* #A4243B; */
    background-color: #C92C49;  
    margin-top: 15px;;
    border-radius: 0.5rem; 
    height: 50px;
    line-height: 50px;
    width: fit-content;
    padding: 0px 20px;
    text-align: center;
}
    .source:hover{
        transform: scale(1.05);
        background-color: #A4243B !important; 
        
    }

.container{
    margin: 40px;
}

.img-container{
    flex: 1;
    margin: 20px 20px;
    min-width: 55%;
    max-width: 800px;
    height:fit-content;
}

.img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    filter: drop-shadow(30px 20px 4px rgba(0, 0, 0, 0.3));
}

@font-face {
    font-family: JB-bold;
    src: url(JetbrainsMonoBold-51Xez.ttf);
}

@font-face {
    font-family: lora-italic;
    src: url(Lora-Italic.ttf);
}

@font-face {
    font-family: lora-regular;
    src: url(Lora-Regular.ttf);
}

@font-face {
    font-family: JB-medium;
    src: url(JetbrainsMonoMedium-nRvBM.ttf);
}